.wrapper {
    position:relative;
    top:200px;
    width:100%;
    display:flex;
    justify-content: center;
}
.projects {
    position:relative;
    width:50%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;    
}
.frame {
    width:200px;
    height:200px;
    box-sizing:border-box;
    border:2px solid purple;
    margin:25px;
    background-size:cover;
    background-position:center;
    cursor:pointer;
    transition:0.5s;
}
.frameName {
    position:relative;
    top:84%;
    width:100%;
    height:16%;
    background-color:black;
    opacity:0.5;
    color:white;
    font-size:24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:600;
    text-align:center;
    transition:0.5s;
}
.frame:hover {
    transform: scale(1.2) rotate(10deg);
}
.frame:hover .frameName {
    opacity:1;
    height:20%;
    top:80%;
    font-size:28px;
}
@media (min-width: 768px) and (max-width: 1280px) {
    .frameName {
        font-size:20px;
    }
    .frame:hover .frameName {
        font-size:24px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .frameName {
        font-size:16px;
    }
    .frame:hover .frameName {
        font-size:20px;
    }
}