.website {
    overflow:hidden;
}
.slider {
    position:absolute;
    top:0%;
    height:100%; 
    width:100%;
    left:0;
    background-color: #1C1C1C;
    transition:0.5s;
    box-sizing: border-box;
    z-index:2;
}