* {
    margin:0;
    padding:0;
    border:none;
    outline:none;
}
body {
    background:#161617;
    width:100vw;
    min-height:100vh;
    overflow-x:hidden;
}
#root {
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
.slider {
    position:absolute;
    top:0%;
    left:0;
    height:100%; 
    width:100%;
    background-color: #1C1C1C;
    transition:0.5s;
    box-sizing: border-box;
    z-index:2;
}
.particles {
    position:fixed;
    z-index:-1;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
}